*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.whole{
    letter-spacing: .1em; /* Global letter spacing */
    font-weight: lighter;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    
}

/* 
    Container Styles 
*/
.container {
    background: linear-gradient(slategray, skyblue);
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

/* 
   Container1  Image Styles 
*/
.container img {
    align-self: center;
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}

/* 
    Form Styles 
*/
.container form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1.25em;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    gap: 0.9375em;
}

.container form input, .container form button {
    min-width: 90%;
    height: 2.8125em;
    padding: 0 1.25em;
    margin: 0.625em 0;
    background-color: #222;
    border: 0.125em solid #bbb;
    color: #fff;
    border-radius: 1.5625em;
    font-size: 17px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.container form input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 0.1875em rgba(52, 152, 219, 0.5);
}

.inputText {
    font-size: smaller;
}

.container form label {
    width: 90%;
    text-align: left;
    font-size: 0.875em;
    font-weight: normal;
    color: #bbb;
    margin-bottom: -0.3125em;
}

.container form button {
    cursor: pointer;
    background-color: #ADD8E6;
    color: #222;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
}

.container form button:hover {
    background-color: #2980b9;
}

.signup {
    cursor: pointer;
    color: #FF7F50;
    text-decoration: none;
    font-weight: bold;
}

.container form p, .container form a {
    color: #ddd;
    text-align: center;
}

.container form p a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.errorMessage  {
    color: red; /* Crimson red */
    background-color: slategray; /* Very light red/pink for background */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid salmon;
    border-radius: 5px;
    font-size: smaller;
  }
/* 
    Second Container Styles 
*/
.container2 {
    background-color: #222;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container2 h1 {
    font-size: 1.6em;
    color: white;
}
.container2 img{
    overflow: hidden;
    width:100%
}
/* 
    Gallery Container Styles 
*/
.galleryContainer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    
    height:auto ;
    padding: 1em;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 1em;
    border-radius: 20%;
    overflow: hidden;
    
   
    
  
}

/* 
    Gallery Image Styles 
*/
.galleryImage {
    overflow: hidden;
    flex:3 ;
    height:auto ;
    background-color: #ADD8E6;
    padding: 1em;
    flex: 0 0 auto;
    scroll-snap-align: start;
    border-radius: 20%;
    border:none ;
    box-shadow: 
    0px 0px 10px rgba(0, 0, 0, 0.5), /* Outer shadow with spread */
    inset 0px 0px 10px rgba(0, 0, 0, 0.5); /* Inner shadow */
}
    
    

.dotsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #444;
    border-radius: 50%;
    display: inline-block;
  }
  
  .activeDot {
    background-color: #ADD8E6; /* Change this color to your preferred active color */
  }

.container2 h3 {
    margin:1.3em 0;
    color: #FF7F50; /* Bright pink for vibrancy */
    font-size: 1em; /* Increase size for prominence */
    text-shadow: 2px 2px 4px #000; /* Soft black shadow for depth */

    font-weight: bold; /* Bold for emphasis */
}

.bold {
    font-size: larger;
    font-weight: bold;
    color: #FF7F50;
}
.container2 p {
    font-weight: bold;
}


.buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    align-items: center;
    justify-content: center;
   
}

.buttons button {
    padding: 0 2em;
    height: 2em;
    background-color: #ADD8E6;
    border-radius: 2em;
    font-weight: bold;
    color: #222;
    font-size: .7em; /* Adjust as needed */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover and focus */
    letter-spacing: .1em;
}

.buttons button:hover {
    background-color: #333; /* Slightly darker on hover */
}

.buttons button:active {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.75); /* Inner shadow for active state */
}

.buttons button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.75); /* White outline for focus state */
}



/*
    Media Queries 
*/


@media (min-width: 540px) {
    .container img {
        width: 20em;
    }

    .container form input {
        width: 70%;
    }

    .container form label {
        padding-left: 4em;
    }
    .galleryContainer {
        width: 40%;
        height:auto;
        margin:auto ;
        
    }
    .galleryImage{
        min-width:50%;
    }

    .container2{
        height:auto;
        padding:3em;
        width:100%;
        
    }
   
}