.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #F0F0F5;
  height: 100vh;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
}

.inputField {
 
  padding: 1em;
  border: 0.125em solid #DADCE0;
  border-radius: 0.5em;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  height: 3em;
  background-color: #FFFFFF;
  color: #333333;
}

.profileImage {
  background: url('default-profile.png') no-repeat center center;
  background-size: cover;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2), 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  border: 0.1875em solid #DADCE0;
}

.saveButton {
  padding: 1em 1.5em;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 70%;
  font-weight: 600;
}

.saveButton:hover {
  background-color: #357ABD;
  transform: translateY(-0.125em);
}

.inputWrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  font-size: 0.875em;
  margin-bottom: 1em;
  color: #333333;
}
