/* EditProfile.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .inputField {
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    width: 100%; /* Adjusted to fill the width of its parent container */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
  }
  
  .profileImage {
    background: none;
    width: 8em; 
    height: 8em;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 1em;
  }
  
  .saveButton {
    padding: 10px 20px;
    background-color: slategray;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 70%; /* Optional: Adjust to match the width of the input fields */
  }
  
  .saveButton:hover {
    background-color: #0056b3;
  }
  
  .inputWrappers {
    display: flex;
    flex-direction: column; /* Changed to column to stack label and input */
    align-items: center; /* Center align items in the container */
    width: 70%; /* Ensures that wrapper has the same width */
    font-size: small;
    margin-bottom: 1em; /* Ensures consistent spacing between groups */
  }
  