/* FriendList.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color:white
  }
  
  .friendsList {
    list-style-type: none;
    padding: 1em;
    width: 100%;
    max-width: 600px; /* Adjust based on your design */
    
  }
  
  .friendItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 1em;
    background-color: #222;
    border-radius: 1em;
    
  }

  .friendInfo {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between the profile picture and username as needed */
    
    
  }
  
  .profilePicture {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the image circular */
  }
  
  .usernameLink {
    text-decoration: none;
    color:whitesmoke
  }
  
  .deleteButton {
    cursor: pointer;
    /* Add any additional styling as needed */
  }
  