.navbar {

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Adjust as needed */
    padding: 10px 20px;
    border-top: 1px solid grey;
   

}

.ul {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ul li {
    font-size: 1em;
    text-decoration: none;
    list-style: none;
    text-align: center;
    
    align-self: center;


}

.ul li a {
    color: lightgray;
    text-decoration: none;
    cursor: pointer;

}

.ul li p {
    font-size: .7em;
}

.ul li svg {
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
}

.profile {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid lightgrey
}