/* Post.module.css */

.postbox {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1em;
    padding: 20px;
    background-color: #fff;
    display: flex; /* Use flexbox to manage layout */
    flex-direction: column; /* Stack children vertically */
    height:auto;
    
  }
  .postbox:last-child{
    margin-bottom: 5em;
  }
  .container {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
  }
  .deletebutt
  .user {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
  }
  .postbox a {
    text-decoration: none;
    color:black ;
  }
  .commentContainer {
    display: grid;
    grid-template-columns: 1fr auto; /* Username on the left, comment SVG on the right */
    justify-content: space-between; /* Items on opposite ends */

    
  }

  .commentContainer svg {
    grid-column: span 3; /* Make the SVG span 3 columns */
    font-size: 1.3em;
    margin-left:1em;
  }
  .commentsSection {
    margin-top: 1em;
    border-top: 1px solid lightgrey;
  }

  .comment {
    margin-top: 2em;
    display: flex;
    align-items: center; /* Ensure vertical alignment */
    justify-content: space-between; /* Space out main items */
    width: 100%; /* Ensure the comment takes full width */
  }

  .commentContent {
    flex-grow: 1; /* Allow the content to fill the space */
    display: flex;
    align-items: center; /* Align items vertically within the content */
    justify-content: space-around; /* Evenly space out the profile, name, and any text */
  }
  
  .comment svg {
    flex-shrink: 0; /* Prevent the SVG from shrinking */
    margin-left: 1em; /* Optional spacing to the left of the SVG */
  }
  .comment button {
    
    background: none; /* Removes default background */
    color: inherit; /* Inherits the text color from its parent */
    border: none; /* Removes the border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    font: inherit; /* Inherits font properties from its parent */
    cursor: pointer; /* Ensures the cursor changes to a pointer to indicate it's clickable */
    outline: inherit; /* Inherits the outline style from its parent, you might want to customize this for accessibility */
  }
  .comment img {
    width: 30px; /* Adjust the width of the user picture */
    height: 30px; /* Adjust the height of the user picture */
    border-radius: 50%; /* Ensure the user picture is rounded */
    margin-right: 10px; /* Add some space between the picture and the username */
  }
  
  .commentAuthor {
    font-weight: bold;
    margin-right: 5px;
    font-size: 16px; /* Adjust the font size of the username */
  }
  
  .commentText {
    color: #333;
    font-size: 16px; /* Adjust the font size of the comment text */
  }
  .addCommentForm {
    margin-top: 20px;
    display: flex;
  }
  
  .addCommentForm input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .addCommentForm button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .addCommentForm button:hover {
    background-color: #0056b3;
  }
  
  .img {
    width: 100%;
    height:100%;
    object-fit: scale-down;
    border-radius: 8px;
    margin-bottom: 10px;
    
  }
  
  .profilePicture {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px;
    margin-bottom:2em;
  }
  
  .description {
    font-size: 14px;
  }
.userDesc{
    font-size: larger;
    font-weight: 600;
    
}

.userInfoAndDelete {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust based on your layout needs */
  flex-grow: 1; /* Ensures it takes up the necessary space */
  margin-bottom:2em;
}
.deleteButton {
  margin-left: auto; /* Pushes the button to the far right */
  cursor: pointer;
  font-size: larger;
  /* Other styling as needed */
}