.ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  text-align: center;
  background-color: #01377d;
  min-height: 5vh;
}

.items,
.logoItem {
  list-style: none;
  padding: 1em;
  letter-spacing: 0.1em;
}

.logoItem {
  font-family: Bodoni;
  font-weight: 900;
}
